// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  text-align: center;
}

#new_user {
  width: 40%;
  margin: auto;
}

.message-container {
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
}

.message-details {
  position: relative;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.user {
  font-style: italic;
}

.message-links-container {
  position: absolute;
  top: 0;
  right: 0;
}

.message-links {
  display: inline-block;
}

p {
  font-weight: bold;
}

.comment-form {
  margin-top: 10px;
}